<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Licence List</title>

    <link href="../Resource/CSS/LicenceList.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"> </script>
    <script src="/Resource/Javascript/paging.js"></script>
    <script src="/Resource/Javascript/Common.js"></script>
    <script src="/Resource/Javascript/LicenceListScript.js"></script>

</head>
<body>
    <header>
        <p id="lblusername">
        </p>
        <button type="button" class="w3-red" onclick="Logout()" style="width: 10%; margin-right: 10px; margin-bottom: 10px;">Logout</button>
    </header>

    <div class="row">

        <div class="column">
            <label style="margin-left:20px;"> Select Columns : </label>
            <select id="selcolumn">
                <option value="0">
                    License Key
                </option>
                <option value="1">
                    Expiration Date
                </option>
                <option value="2">
                    Customer Name
                </option>
                <option value="3">
                    Customer Email
                </option>
            </select>
            <input type="text" id="myInput" style="margin:20px;" onkeyup="myFunction()" placeholder="Search.." title="Type in a name">
        </div>

        <div class="column">
            <button type="button" onclick="AscsortTable()" style="width: 50%; margin: 10px;">Asc Sort</button>
            <button type="button" onclick="DescsortTable()" style="width: 50%; margin: 10px;">Desc Sort</button>
        </div>

        <div class="column">
            <button type="button" onclick="OpenAddLicence()" style="width: 50%; margin: 10px;">New Licence</button>
        </div>
    </div>


    <div style="overflow-x:auto;">
        <table id="tbllicence" class="table table-bordered table-striped" style="width:1340px;"></table>
    </div>


    <div id="DeleteModel" data-id="0" class="modal">
        <span onclick="document.getElementById('DeleteModel').style.display = 'none'" class="close" title="Close Modal">×</span>
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>Delete Licence</h1>
                <p>Are you sure you want to delete your licence?</p>

                <div class="clearfix">
                    <button type="button" onclick="Deletecancel()" class="cancelbtn">Cancel</button>
                    <button type="button" onclick="Deletesubmit()" class="deletebtn">Delete</button>
                </div>
            </div>
        </form>
    </div>

    <div id="myModal" class="w3-modal">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
            <form class="w3-container">
                <div class="w3-section">
                    <label><b>Expiration Date:</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="date" placeholder="Select Expiry Date" id="expdt">
                    <label><b>Customer Name:</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="text" size="99" maxlength="99" placeholder="Enter Customer Name" id="cname">
                    <label><b>Customer Email:</b></label>
                    <input class="w3-input w3-border w3-margin-bottom" type="email" size="49" maxlength="49" placeholder="Enter Customer Email" id="cemail">
                    <button class="w3-button w3-block w3-green w3-section w3-padding" onclick="AddLicence()" type="button">Save</button>
                    <button class="w3-button w3-block w3-red w3-section w3-padding" onclick="document.getElementById('myModal').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>

                </div>
            </form>



        </div>
    </div>
    <footer>
        <p>
            Copyright 2021 by Blue Byte Systems, Inc.
        </p>
    </footer>
</body>
</html>
